/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------------------------------*/

:root {
  --main-theme-color: #e05b10;
  --text-theme-color: #fc8912;
  --sub-theme-color: #AB2D0A;
  --accent-theme-color: #00ab78;
}

/*General*/
body { 
  font-family: 'Nunito', sans-serif;
}

h1 a {
  color: var(--main-theme-color);
}
h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  color: var(--sub-theme-color);
}
h4 a {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-theme-color);
}
body {
  padding: 2rem 6rem;
}
header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  border-top: solid 1px var(--text-theme-color);
  padding: 8px 4px;
  color: grey;
  font-size: 1.2rem;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: solid 2px grey;
  padding: 1rem;
  margin-top: 4rem;
}

small {
  margin-right: 2rem;
  color: grey;
}

a {
  text-decoration: none;
  color: var(--accent-theme-color);
}
a:hover {
  color: var(--accent-theme-color);
}
p {
  font-size: 18px;
  line-height: 1.5rem;
}

/*Section*/
#main-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#main-container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  align-items: center;
  justify-items: center;
  color: grey;
  margin-top: 3rem;
}

#main-container section:nth-child(even) {
  direction: rtl;
}

#main-container section h4 {
  margin-bottom: 2rem;
}

img {
  height: 25rem;
  display: inline-block;
  border-radius: 15px;
}

footer nav a {
  font-size: 15px;
  color: var(--accent-theme-color);
  border: none;
}
